<h1>#Assignment 7
</h1>

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score

<h1>#Loading csv file</h1>

In [4]:
df=pd.read_csv("logistic regression dataset-Social_Network_Ads.csv")

In [5]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [6]:
X1 = df[['EstimatedSalary']]
y = df['Purchased']
X1

     EstimatedSalary
0              19000
1              20000
2              43000
3              57000
4              76000
..               ...
395            41000
396            23000
397            20000
398            33000
399            36000

[400 rows x 1 columns]

In [7]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [8]:
X1_train, X1_test, y_train, y_test = train_test_split(X1, y, test_size=0.2, random_state=42)

<h1>#Adding Constant for the intercept</h1>

In [10]:
X1_train = sm.add_constant(X1_train)
X1_test = sm.add_constant(X1_test)

<h1>#Taining Logistic Regression model</h1>

In [12]:
model1 = sm.Logit(y_train, X1_train).fit()

Optimization terminated successfully.
         Current function value: 0.578480
         Iterations 5

<h1>#Displaying the summary</h1>

In [14]:
print(model1.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:              Purchased   No. Observations:                  320
Model:                          Logit   Df Residuals:                      318
Method:                           MLE   Df Model:                            1
Date:                Thu, 02 Jan 2025   Pseudo R-squ.:                  0.1142
Time:                        15:03:26   Log-Likelihood:                -185.11
converged:                       True   LL-Null:                       -208.98
Covariance Type:            nonrobust   LLR p-value:                 4.891e-12
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              -2.4209      0.324     -7.463      0.000      -3.057      -1.785
EstimatedSalary  2.511e-05   3.96e-06      6.333      0.000    1.73e-05    3.29e-05
===================================================================================

<h1>#prediction</h1>

In [16]:
y_pred_p1 = model1.predict(X1_test)
y_pred1 = (y_pred_p1 >= 0.5).astype(int)

<h1>#Balancy Accuracy </h1>

In [27]:
b_accuracy1 = balanced_accuracy_score(y_test, y_pred1)
print(f"Balanced Accuracy : {b_accuracy1}")

Balanced Accuracy : 0.6497252747252747

<h1># Task 2</h1>

In [31]:
X2 = df[['Age', 'EstimatedSalary']]

In [33]:
X2_train, X2_test, y_train, y_test = train_test_split(X2, y, test_size=0.2, random_state=42)

<h1>#Adding Constant </h1>

In [36]:
X2_train = sm.add_constant(X2_train)
X2_test = sm.add_constant(X2_test)

<h1>Training the model</h1>

In [39]:
model2 = sm.Logit(y_train, X2_train).fit()

Optimization terminated successfully.
         Current function value: 0.372821
         Iterations 7

<h1>#Displaying the summary</h1>

In [42]:
print(model2.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:              Purchased   No. Observations:                  320
Model:                          Logit   Df Residuals:                      317
Method:                           MLE   Df Model:                            2
Date:                Thu, 02 Jan 2025   Pseudo R-squ.:                  0.4291
Time:                        15:03:29   Log-Likelihood:                -119.30
converged:                       True   LL-Null:                       -208.98
Covariance Type:            nonrobust   LLR p-value:                 1.133e-39
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const             -11.4104      1.314     -8.686      0.000     -13.985      -8.836
Age                 0.2079      0.026      7.968      0.000       0.157       0.259
EstimatedSalary  3.551e-05   5.74e-06      6.186      0.000    2.43e-05    4.68e-05
===================================================================================

<h1>#Predicting </h1>

In [45]:
y_pred_p2 = model2.predict(X2_test)
y_pred2 = (y_pred_p2 >= 0.5).astype(int)

<h1>#Balanced Accuracy</h1>

In [48]:
b_accuracy2 = balanced_accuracy_score(y_test, y_pred2)
print(f"Balanced Accuracy (Task 2 - Age and EstimatedSalary): {b_accuracy2}")

Balanced Accuracy (Task 2 - Age and EstimatedSalary): 0.8557692307692308

<h1>#Checking Which model perform better in terms of balance accuracy</h1>

In [51]:
if b_accuracy2 > b_accuracy1:
    print("Task 2 model performs better in terms of balanced accuracy.")
else:
    print("Task 1 model performs better in terms of balanced accuracy.")

Task 2 model performs better in terms of balanced accuracy.